.DS_Store
.idea/
*.iml
.env
node_modules/
wget-log
tmp/
agif
/bin/
.cache/
/public/dist/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
