<!DOCTYPE html>
<html lang="ja" ng-app>
    <head>
        <meta charset="utf-8" />
        <title>agif</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <h1>agif</h1>
        <div>
            <label>分割:</label>
            <input type="text" ng-model="frame" placeholder="Enter a animated gif url" />
            <a href="/gif/frame/{{frame}}">{{frame}}</a><br />
            <label>逆再生:</label>
            <input type="text" ng-model="playback" placeholder="Enter a animated gif url" />
            <a href="/gif/playback/{{playback}}">{{playback}}</a>
        </div>
    </body>
</html>
