#fb-root{display:none}
body{font-family:'Montserrat',sans-serif;margin:0 5em}
h1{text-align:center;font-size:350%;font-weight:normal}
.results{margin-top:1em;}
.results a{display:block;padding:1.8em;color:#fff;text-decoration:none;}
.results a span{font-size:80%;color:#ccc}
.bg-split{margin:0;padding:0;background:#0e90d2}
.bg-frame{margin:0;padding:0;background:#8058a5}
.bg-reverse{margin:0;padding:0;background:#5eb95e}
.bg-playback{margin:0;padding:0;background:#f37b1d}
