#fb-root
    display: none

body
    font-family: 'Montserrat', sans-serif
    margin: 0 5em

h1
    text-align: center
    font-size: 350%
    font-weight: normal

.results
    margin-top: 1em

    a
        display: block
        padding 1.8em
        color: #fff
        text-decoration: none

        span
            font-size: 80%
            color: #ccc

bg()
    margin: 0
    padding: 0
    background: arguments

.bg-split
    bg(#0e90d2)

.bg-frame
    bg(#8058a5)

.bg-reverse
    bg(#5eb95e)

.bg-playback
    bg(#f37b1d)
